:root {
  --GREY3: #EBEAEF;
  --retink-colour-style-retink-primary-purple-light: #EAE4FC;
  --retink-colour-style-retink-grey-retink-grey05: #4D4959;
  --retink-colour-style-retink-primary-purple-light-hover: #EAE4FC;
  --retink-colour-style-retink-primary-purple-normal: #5E3EBA;
  --retink-colour-style-retink-grey-retink-grey-05: #4D4959;
  --retink-colour-style-retink-grey-retink-grey-0: #F4F3F6;
}

.intro {
  display: inline-flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 20px;
  align-items: flex-start;
  gap: 8px;
}

.intro h1 {
  color: var(--retink-colour-style-retink-grey-retink-grey-05, #4D4959);
  text-align: center;

  /* Heading2 */
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.intro p {
  color: var(--retink-colour-style-retink-grey-retink-grey-05, #4D4959);
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}