:root {
  --GREY3: #EBEAEF;
  --retink-colour-style-retink-primary-purple-light: #EAE4FC;
  --retink-colour-style-retink-grey-retink-grey05: #4D4959;
  --retink-colour-style-retink-primary-purple-light-hover: #EAE4FC;
  --retink-colour-style-retink-primary-purple-normal: #5E3EBA;
  --retink-colour-style-retink-grey-retink-grey-05: #4D4959
}

.topbar {
  display: flex;
}

.search {
  display: flex;
  width: 1047px;
  height: 82px;
  flex-shrink: 0;
  border: 1px solid var(--GREY-3);
  background: #FFF;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.07);
}

.serachInput {
  width: 555px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #EBEAEF;
  background: #FFF;
  box-shadow: 0px 7px 64px 0px rgba(0, 0, 0, 0.07);
  color: #463D61;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.searchBtn {
  width: 18.525px;
  height: 18.525px;
  flex-shrink: 0;
  display: flex;
  width: 24px;
  height: 24px;
  padding: 2.737px 2.738px 2.738px 2.737px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

}

.createContent {

  display: flex;
  padding: 11px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 18px;
  background: var(--retink-colour-style-retink-primary-purple-normal);
}

.rectangleBtn {
  width: 78px;
  height: 39px;
  margin: 10px;
  flex-shrink: 0;
  cursor: pointer;
  box-sizing: border-box;
  color: #463D61;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  align-content: center;
  /* 100% */
  border-radius: 15px;
  background: #F1EDFD;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.07);
}

.coineBtn {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.btnGroup {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.closeBtn {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}

.filterBtn {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.topRight {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F1EDFD;
  /* height: 100%; */
  flex: 2;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: rgb(23, 23, 36);
  cursor: pointer;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid var(--retink-colour-style-retink-primary-purple-light-active, #D4C8F8);
  background: var(--retink-colour-style-retink-primary-purple-light, #F1EDFD);

  /* Topright nav (hover) */
  box-shadow: 0px -1px 0px 0px rgba(213, 209, 224, 0.40) inset;
}